
@{
    ViewBag.Title = "Cadastrar Cliente";
}
@section scripts{
<script>
        var urlPost = '@Url.Action("Incluir", "Cliente", new { area = "" })';
        $(document).ready(function () {
            $("#Telefone").inputmask("mask", { "mask": "(99) 9999-99999" });
            $("#CPF").inputmask("mask", { "mask": "999.999.999-99" }, { reverse: true });
            $("#CEP").inputmask("mask", { "mask": "99999-999" });
            $("#nascimento").inputmask("mask", { "mask": "99/99/9999" });
            $("#preco").inputmask("mask", { "mask": "999.999,99" }, { reverse: true });
            $("#valor").inputmask("mask", { "mask": "#.##9,99" }, { reverse: true });
            $("#ip").inputmask("mask", { "mask": "999.999.999.999" });
        });
</script>
    </script>
    @Scripts.Render("~/bundles/clientes")
    @Scripts.Render("~/bundles/inputmask")
}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")

